#main-menu {
    width: 190px;
    background: #1D2327;
    z-index: 2;
    padding: 20px 0 20px 20px;
    a {
        color: #fff;
        text-decoration: none;
        display: block;
    }
    .child {
        left: 170px;
        top: 0;
        background: $child-menu-bg;
        width: 200px;
        &::before {
            content: '';
            width: 0; 
            height: 0; 
            border-top: 10px solid transparent; 
            border-bottom: 10px solid transparent; /* 40px height (20+20) */
            border-right: 14px solid $child-menu-bg;
            position: absolute;
            left:-14px;
            top: 20px;
        }
        .item {
            a:hover {
                color: $menu-item-hover;
            }
        }
        .item:first-child {
            a {
                padding-top: 20px;
            }
        }
        .item:last-child {
            a {
                padding-bottom: 20px;
            }
        }
    }
}

.menu {
    position: relative;
    .item {
        a {
            padding: 10px 20px;
        }
    }
    .child {
        display: none;
        position: absolute;
        &:hover {
            display: block;
        }
    }
    &:hover {
        .child {
            display: block;
        }
    }
}