.mdc-data-table__table {
    min-width:auto;
    width: 100%;
}

#new-product-form {
    .col {
        &:first-child {
            width: 86%;
        }
        &:last-child {
            width: 14%;
        }
    }
}