<div class="auth-form-container d-flex align-items-center py-4 full-screen" [ngClass]="classMap[val]">
    <main id="form-auth" class="w-100 m-auto">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <h1 class="h3 mb-2 fw-normal">Please sign up</h1>
            <div class="form-floating mb-2">
              <label for="floatingInput">Email address</label>
              <input type="email" name="email" ngModel class="form-control" id="floatingInput" placeholder="name@example.com">
            </div>
            <div class="form-floating mb-2">
              <label for="floatingPassword">Password</label>
              <input type="password" name="password" ngModel class="form-control" id="floatingPassword" placeholder="Password">
            </div>
            <div class="form-floating mb-2">
              <label for="floatingText">First Name</label>
                <input type="text" name="first_name" ngModel class="form-control" id="floatingText" placeholder="First Name">
              </div>
              <div class="form-floating mb-2">
                <label for="floatingText">Last Name</label>
                <input type="text" name="last_name" ngModel class="form-control" id="floatingText" placeholder="Last Name">
              </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
          </form>
    </main>
    <main id="form-email-code" class="w-100 m-auto">
        <form #vef="ngForm" class="verify-email-form" (ngSubmit)="onVerifyEmailSubmit(vef)">
            <div class="wrapper">
                <div class="block">
                    <input #1 class="form-control digit-one" ngModel type="text" name="_1" min="0" maxLength="1" max="9" value="" autofocus (keyup)="validateDigits($event)">
                </div>
                <div class="block">
                    <input #2 class="form-control digit-two" ngModel type="text" maxLength="1" name="_2" min="0" max="9" value="" (keyup)="validateDigits($event)">
                </div>
                <div class="block">
                    <input #3 class="form-control digit-three" ngModel type="text" maxLength="1" name="_3" min="0" max="9" value="" (keyup)="validateDigits($event)">
                </div>
                <div class="block">
                    <input #4 class="form-control digit-four" ngModel type="text" maxLength="1" name="_4" min="0" max="9" value="" (keyup)="validateDigits($event)">
                </div>
                <div class="block">
                    <input #5 class="form-control digit-five" ngModel type="text" maxLength="1" name="_5" min="0" max="9" value="" (keyup)="validateDigits($event)">
                </div>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Verify Email</button>
            <small>Didn't receive an email with a five digit pin enclosed? <a href="'{{send_email_endpoint}}'">click here</a> to send again!</small>
        </form>
    </main>
</div>
