html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.hide {
    display: none;
}

.link {
    text-decoration: underline;
    color: #2271b1;
    margin: 6px 0;
}