<section class="product-data">
    <div class="page toolbar">
        <ul>
            <li><h2>Product data - </h2></li>
            <li>
                <select id="product-type" name="product-type">
                    <optgroup label="Product Type">
                        <option value="simple" selected="selected">Simple product</option>
                        <option value="grouped">Grouped product</option>
                        <option value="external">External/Affiliate product</option>
                        <option value="variable">Variable product</option>
                    </optgroup>
                </select>
            </li>
            <li>
                <span class="tool-tip" tabindex="0" aria-label="Simple – covers the vast majority of any products you may sell. Simple products are shipped and have no options. For example, a book."></span>
            </li>
        </ul>
    </div>
    <div class="tabs">
        <div class="tabs-menu">
            <div class="menu-item">
                <a (click)="display_product_data('general_product_data')">
                    <span>General</span>
                </a>
            </div>
            <div class="menu-item">
                <a (click)="display_product_data('inventory_product_data')">
                    <span>Inventory</span>
                </a>
            </div>
            <div class="menu-item">
                <a (click)="display_product_data('shipping_product_data')">
                    <span>Shipping</span>
                </a>
            </div>
            <div class="menu-item">
                <a (click)="display_product_data('linked_product_data')">
                    <span>Linked Products</span>
                </a>
            </div>
            <div class="menu-item">
                <a (click)="display_product_data('attributes_product_data')">
                    <span>Attributes</span>
                </a>
            </div>
            <div class="menu-item">
                <a (click)="display_product_data('advanced_product_data')">
                    <span>Advanced</span>
                </a>
            </div>
        </div>
        <div class="tabs-display">
            <div id="general_product_data">
                General Product data
            </div>
            <div id="inventory_product_data">
                Inventory Product data
            </div>
            <div id="shipping_product_data">
                Shipping Product data
            </div>
            <div id="linked_product_data">
                Linked Product data
            </div>
            <div id="attributes_product_data">
                Attributes Product data
            </div>
            <div id="advanced_product_data">
                Advanced Product data
            </div>
        </div>
    </div>
</section>